:root {}

.adv {
    background-color: #CBDCFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 5px 0;
}

.hbadge {
    font-size: 10px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    bottom: 10px;
    right: 7px;
    background-color: var(--bs-secondary);
    color: var(--bs-card-color);
    border: 2px solid white;
}




footer {
    margin: 50px;
    padding: 30px;
    background-color: var(--bs-secondary);
}

footer a {
    color: var(--bs-card-color);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    padding-top: 10px;
}

footer a:hover {
    color: var(--bs-card-color);
    border-bottom: 2px solid;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.badge-top {
    background-color: #B4FFF0;
    color: #00382F;
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;

}

.badge-organic {
    position: absolute;
    top: 13px;
    left: 16px;
    background-color: #E0E3E3;
    color: var(--bs-card-color);
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
}

.card {
    min-height: 515px;
}

.card-brand {
    color: #5C5F60;
    font-size: 0.63rem !important;
    font-weight: 500;
}

.card-title {
    font-weight: 400;
    font-size: 14px;
}

.card-price {
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

.card-user {
    font-weight: 400;
    font-size: 14px;
}

.card-user img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}




#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  
  #slider-div>div {
    margin: 8px;
  }
  
  .slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 0.75rem;
  }