.hbadge {
    font-size: 8px;
    position: relative;
    bottom: 10px;
    right: 7px;
    background-color: #EFF1F1;
}

.adv {
    background-color: #CBDCFF;
    text-align:center;
}



.caret-off::before {
    content: '';
}
.caret-off::after {
    display: none;
}

footer{
    margin: 50px;
    padding: 30px;
    background-color: var(--bs-secondary)
}